In [2]:
import pandas as pd
import numpy as np

In [23]:
data = pd.read_csv('https://raw.githubusercontent.com/bocsardigergely/bachelor-thesis/main/data/sample.csv')[['processed_words']]

In [28]:
print(data.iloc[0, 0])

  (0, 6046)	1
  (0, 12860)	1
  (0, 21737)	1
  (0, 29174)	1
  (0, 51862)	2
  (0, 64352)	1
  (0, 68383)	1
  (0, 69354)	1
  (0, 77602)	1
  (0, 78389)	1
  (1, 11610)	1
  (1, 24274)	1
  (1, 24347)	1
  (1, 31733)	1
  (1, 55306)	1
  (1, 64699)	1
  (1, 74475)	1
  (1, 74666)	1
  (2, 12860)	1
  (2, 19973)	1
  (2, 42118)	1
  (3, 7405)	1
  (3, 10937)	1
  (3, 11789)	1
  (3, 13188)	1
  :	:
  (46858, 56431)	1
  (46858, 69367)	1
  (46859, 1620)	1
  (46859, 2725)	1
  (46859, 14778)	1
  (46859, 15879)	1
  (46859, 24635)	1
  (46859, 25922)	1
  (46859, 48748)	1
  (46859, 56431)	1
  (46859, 80185)	1
  (46860, 330)	1
  (46860, 8584)	1
  (46860, 23730)	1
  (46860, 42024)	1
  (46860, 44177)	1
  (46860, 51133)	1
  (46860, 51862)	1
  (46860, 53829)	1
  (46860, 56431)	1
  (46860, 64338)	1
  (46860, 70308)	1
  (46860, 70405)	1
  (46860, 72008)	1
  (46860, 75397)	1

In [40]:
data = pd.read_csv('./sample.csv')[['processed_words']]

In [46]:
def clean(string):
    string = string.replace('  ', '')
    string = string.replace(':', '')
    return string.split('\t')

In [51]:
data['proc_words'] = data.processed_words.apply(lambda x: [clean(s) for s in x.split('\n  ')])

In [52]:
data

,processed_words,proc_words
0,"(0, 274)\t1\n (0, 1776)\t2\n (0, 12613)\t1...","[[(0, 274), 1], [(0, 1776), 2], [(0, 12613), 1..."
1,"(0, 274)\t1\n (0, 1776)\t2\n (0, 12613)\t1...","[[(0, 274), 1], [(0, 1776), 2], [(0, 12613), 1..."
2,"(0, 274)\t1\n (0, 1776)\t2\n (0, 12613)\t1...","[[(0, 274), 1], [(0, 1776), 2], [(0, 12613), 1..."
3,"(0, 274)\t1\n (0, 1776)\t2\n (0, 12613)\t1...","[[(0, 274), 1], [(0, 1776), 2], [(0, 12613), 1..."
4,"(0, 274)\t1\n (0, 1776)\t2\n (0, 12613)\t1...","[[(0, 274), 1], [(0, 1776), 2], [(0, 12613), 1..."
5,"(0, 274)\t1\n (0, 1776)\t2\n (0, 12613)\t1...","[[(0, 274), 1], [(0, 1776), 2], [(0, 12613), 1..."
6,"(0, 274)\t1\n (0, 1776)\t2\n (0, 12613)\t1...","[[(0, 274), 1], [(0, 1776), 2], [(0, 12613), 1..."
7,"(0, 274)\t1\n (0, 1776)\t2\n (0, 12613)\t1...","[[(0, 274), 1], [(0, 1776), 2], [(0, 12613), 1..."
8,"(0, 274)\t1\n (0, 1776)\t2\n (0, 12613)\t1...","[[(0, 274), 1], [(0, 1776), 2], [(0, 12613), 1..."
9,"(0, 274)\t1\n (0, 1776)\t2\n (0, 12613)\t1...","[[(0, 274), 1], [(0, 1776), 2], [(0, 12613), 1..."

In [55]:
data.proc_words

0    [[(0, 274), 1], [(0, 1776), 2], [(0, 12613), 1...
1    [[(0, 274), 1], [(0, 1776), 2], [(0, 12613), 1...
2    [[(0, 274), 1], [(0, 1776), 2], [(0, 12613), 1...
3    [[(0, 274), 1], [(0, 1776), 2], [(0, 12613), 1...
4    [[(0, 274), 1], [(0, 1776), 2], [(0, 12613), 1...
5    [[(0, 274), 1], [(0, 1776), 2], [(0, 12613), 1...
6    [[(0, 274), 1], [(0, 1776), 2], [(0, 12613), 1...
7    [[(0, 274), 1], [(0, 1776), 2], [(0, 12613), 1...
8    [[(0, 274), 1], [(0, 1776), 2], [(0, 12613), 1...
9    [[(0, 274), 1], [(0, 1776), 2], [(0, 12613), 1...
Name: proc_words, dtype: object

In [54]:
pd.DataFrame(data.proc_words.tolist(), index=data.index)

,0,1,2,3,4,5,6,7,8,9,...,41,42,43,44,45,46,47,48,49,50
0,"[(0, 274), 1]","[(0, 1776), 2]","[(0, 12613), 1]","[(0, 16515), 1]","[(0, 19528), 1]","[(0, 22286), 1]","[(0, 38765), 1]","[(0, 40782), 1]","[(0, 40880), 1]","[(0, 43243), 7]",...,"[(23080, 28255), 1]","[(23080, 36893), 3]","[(23080, 40069), 1]","[(23080, 42765), 1]","[(23080, 65061), 1]","[(23080, 69244), 1]","[(23080, 74866), 1]","[(23080, 74958), 1]","[(23080, 75654), 1]","[(23080, 79633), 1]"
1,"[(0, 274), 1]","[(0, 1776), 2]","[(0, 12613), 1]","[(0, 16515), 1]","[(0, 19528), 1]","[(0, 22286), 1]","[(0, 38765), 1]","[(0, 40782), 1]","[(0, 40880), 1]","[(0, 43243), 7]",...,"[(23080, 28255), 1]","[(23080, 36893), 3]","[(23080, 40069), 1]","[(23080, 42765), 1]","[(23080, 65061), 1]","[(23080, 69244), 1]","[(23080, 74866), 1]","[(23080, 74958), 1]","[(23080, 75654), 1]","[(23080, 79633), 1]"
2,"[(0, 274), 1]","[(0, 1776), 2]","[(0, 12613), 1]","[(0, 16515), 1]","[(0, 19528), 1]","[(0, 22286), 1]","[(0, 38765), 1]","[(0, 40782), 1]","[(0, 40880), 1]","[(0, 43243), 7]",...,"[(23080, 28255), 1]","[(23080, 36893), 3]","[(23080, 40069), 1]","[(23080, 42765), 1]","[(23080, 65061), 1]","[(23080, 69244), 1]","[(23080, 74866), 1]","[(23080, 74958), 1]","[(23080, 75654), 1]","[(23080, 79633), 1]"
3,"[(0, 274), 1]","[(0, 1776), 2]","[(0, 12613), 1]","[(0, 16515), 1]","[(0, 19528), 1]","[(0, 22286), 1]","[(0, 38765), 1]","[(0, 40782), 1]","[(0, 40880), 1]","[(0, 43243), 7]",...,"[(23080, 28255), 1]","[(23080, 36893), 3]","[(23080, 40069), 1]","[(23080, 42765), 1]","[(23080, 65061), 1]","[(23080, 69244), 1]","[(23080, 74866), 1]","[(23080, 74958), 1]","[(23080, 75654), 1]","[(23080, 79633), 1]"
4,"[(0, 274), 1]","[(0, 1776), 2]","[(0, 12613), 1]","[(0, 16515), 1]","[(0, 19528), 1]","[(0, 22286), 1]","[(0, 38765), 1]","[(0, 40782), 1]","[(0, 40880), 1]","[(0, 43243), 7]",...,"[(23080, 28255), 1]","[(23080, 36893), 3]","[(23080, 40069), 1]","[(23080, 42765), 1]","[(23080, 65061), 1]","[(23080, 69244), 1]","[(23080, 74866), 1]","[(23080, 74958), 1]","[(23080, 75654), 1]","[(23080, 79633), 1]"
5,"[(0, 274), 1]","[(0, 1776), 2]","[(0, 12613), 1]","[(0, 16515), 1]","[(0, 19528), 1]","[(0, 22286), 1]","[(0, 38765), 1]","[(0, 40782), 1]","[(0, 40880), 1]","[(0, 43243), 7]",...,"[(23080, 28255), 1]","[(23080, 36893), 3]","[(23080, 40069), 1]","[(23080, 42765), 1]","[(23080, 65061), 1]","[(23080, 69244), 1]","[(23080, 74866), 1]","[(23080, 74958), 1]","[(23080, 75654), 1]","[(23080, 79633), 1]"
6,"[(0, 274), 1]","[(0, 1776), 2]","[(0, 12613), 1]","[(0, 16515), 1]","[(0, 19528), 1]","[(0, 22286), 1]","[(0, 38765), 1]","[(0, 40782), 1]","[(0, 40880), 1]","[(0, 43243), 7]",...,"[(23080, 28255), 1]","[(23080, 36893), 3]","[(23080, 40069), 1]","[(23080, 42765), 1]","[(23080, 65061), 1]","[(23080, 69244), 1]","[(23080, 74866), 1]","[(23080, 74958), 1]","[(23080, 75654), 1]","[(23080, 79633), 1]"
7,"[(0, 274), 1]","[(0, 1776), 2]","[(0, 12613), 1]","[(0, 16515), 1]","[(0, 19528), 1]","[(0, 22286), 1]","[(0, 38765), 1]","[(0, 40782), 1]","[(0, 40880), 1]","[(0, 43243), 7]",...,"[(23080, 28255), 1]","[(23080, 36893), 3]","[(23080, 40069), 1]","[(23080, 42765), 1]","[(23080, 65061), 1]","[(23080, 69244), 1]","[(23080, 74866), 1]","[(23080, 74958), 1]","[(23080, 75654), 1]","[(23080, 79633), 1]"
8,"[(0, 274), 1]","[(0, 1776), 2]","[(0, 12613), 1]","[(0, 16515), 1]","[(0, 19528), 1]","[(0, 22286), 1]","[(0, 38765), 1]","[(0, 40782), 1]","[(0, 40880), 1]","[(0, 43243), 7]",...,"[(23080, 28255), 1]","[(23080, 36893), 3]","[(23080, 40069), 1]","[(23080, 42765), 1]","[(23080, 65061), 1]","[(23080, 69244), 1]","[(23080, 74866), 1]","[(23080, 74958), 1]","[(23080, 75654), 1]","[(23080, 79633), 1]"
9,"[(0, 274), 1]","[(0, 1776), 2]","[(0, 12613), 1]","[(0, 16515), 1]","[(0, 19528), 1]","[(0, 22286), 1]","[(0, 38765), 1]","[(0, 40782), 1]","[(0, 40880), 1]","[(0, 43243), 7]",...,"[(23080, 28255), 1]","[(23080, 36893), 3]","[(23080, 40069), 1]","[(23080, 42765), 1]","[(23080, 65061), 1]","[(23080, 69244), 1]","[(23080, 74866), 1]","[(23080, 74958), 1]","[(23080, 75654), 1]","[(23080, 79633), 1]"